html{
  transform: translate3d(0,0,0);
  transform: translatez(0);
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -ms-transform: translatez(0);
  overflow-x: hidden;
  overflow-y: hidden;
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    transition-duration: 0.4s;
}

#area {
  position: absolute;
  top: 10px;
}

#visualizer {
    position: absolute;
    top: 24.5%;
    left: 86%;
    width: 530px;
    height: 530px;
    /*border:1px solid white;*/
    /*border-radius: 265px;*/
    opacity: 1;
    z-index: 550;
}

#visFill {
  position: absolute;
  opacity: 0;
  /*background: rgb(40,40,40);*/
  /*background-color: gray;*/
  /*opacity: 1;*/
  /*visibility: visible;*/
  /*z-index: 1200;*/
}

#notesBalls {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: perspective(800px) rotateY(25deg);
  -webkit-transform: perspective(800px) rotateY(25deg);
  -moz-transform: perspective(800px) rotateY(25deg);
  -ms-transform: perspective(800px) rotateY(25deg);
  /*border: white 1px solid;*/
  z-index: 500;
}

/*#about{
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: perspective(800px) rotateY(25deg);
  -webkit-transform: perspective(800px) rotateY(25deg);
  -moz-transform: perspective(800px) rotateY(25deg);
  -ms-transform: perspective(800px) rotateY(25deg);
  z-index: 500;
}*/

#about {
  position: absolute;
  bottom: 1%;
  right: 1%;
  font-family: 'Tahoma';
  color: white;
  opacity: 1;
  font-size: 14px;
  transition-duration: 0.5s;
  text-decoration: none;
  z-index: 500;
}

#about:hover {
  opacity: 1 !important;
}

.captions {
  position: relative;
  font-family: 'Impact';
  color: white;
  opacity: 1;
  visibility: visible;
  text-align: center;
  transition-duration: 1.5s;
  z-index: 1050;
}

#pieceName{
  font-size: 48px;
  top: 6%;
}

#pressAny{
  font-family: 'Tahoma';
  font-size: 20px;
  top: 3.5%;
}

#stopBtn{
  position:absolute;
  top:10px;
  left:10px;
  width: 50px;
  z-index: 500;
}

#resetBtn{
  position:absolute;
  top:50px;
  left:10px;
  width: 50px;
  z-index: 501;
}

.ballDivs {
  position: absolute;
  transition-duration: 0.7s;
  transition-timing-function: ease-out;
  /*border-radius: 15px;*/
  opacity: 1;
  z-index: 600;
  background: #3a3;
}

.visDivs {
  position: absolute;
  width: 8px;
  height: 210px;
  transform-origin: bottom left;
  -moz-transform-origin: bottom left;
  -webkit-transform-origin: bottom left;
  -ms-transform-origin: bottom left;
  transform: scaleY(1);
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transition-duration: 0.12s;
  opacity: 1;
  z-index: 650;
  background-color: #12f;
}

.middleS{
  position: absolute;
  top: 10px;
  /*left: 0px;*/
  width: 1px;
  height: 100%;
  background-color: red;
}

#loading {
  position: relative;
  /*display: block;*/
  width: 100%;
  height: 100%;
  background-color: #174087;
  padding: 0;
  margin: 0;
  font-family: 'Tahoma';
  color: white;
  text-align: center;
  opacity: 1;
  transition-duration: 1s;
  z-index: 1000;
}

#loading p{
  position: relative;
  top: 45%;
  transform: translateY(-45%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  font-size: 36px;
}

#loading #designed {
  font-size: 16px;
  font-weight: lighter;
}

.limits {
  right: 0px;
  width: 100%;
  height: 1.5px;
  opacity: 0.4;
  background-color: white;
  /*background-color: #2871f3;*/
  z-index: -1;
}

#bottomS{
  position: absolute;
  top: 82%;
  /*background-color: #01fe71;*/
}

#topS{
  position: absolute;
  top: 18%;
}

#leftS{
  position: absolute;
  top: 10px;
  left: 46%;
  width: 1px;
  height: 100%;
  background-color: white;
}

#rightS{
  position: absolute;
  /*top: 10px;*/
  /*right: 0%;*/
  /*left: 925px;*/
  width: 1.5px;
  height: 100%;
  background-color: #01fe71;
}
